.list{
    max-height: 400px;

    list-style: none;
    background-color: white;
    border-radius: 8px;

    padding: 0;

    overflow: hidden;
    overflow-y: auto;

    & > :not(:last-child){
        border-bottom: 1px solid black;
    }

    & > *:hover{
        background-color: wheat;
    }
}

.item{
    color: black;

    cursor: pointer;
}